<h1>THIS IS MY HELP PAGE</h1>
<p>I'm writing this on my help page</p>
<img src=http://www.clker.com/cliparts/f/3/9/f/11949857361333776485help_nicu_buculei_01.svg.med.png alt="About Symbol" width="100" height="100" />
