<h1>I'm Writing this on My Home Page</h1>
<p>Home is where the heart is</p>
<img src=http://legalblogwatch.typepad.com/.a/6a00d8341cce2453ef013485b4fc0d970c-800wi alt="Home image" width="300" height="300" />
